@use "../styles/variables" as v;

.field-wrapper {
	flex-grow: 1;
	background-color: var(--mat-sys-surface-variant);
	height: auto;
	will-change: auto;
	border-top-left-radius: var(--mat-sys-corner-extra-small);
	border-top-right-radius: var(--mat-sys-corner-extra-small);
	padding: 0 v.$size-1;
	position: relative;

	&:hover {
		background-color: var(--mat-sys-surface-variant);

        .focus-overlay {
            opacity: var(--mat-sys-hover-state-layer-opacity);
        }
	}
}

.focus-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	background-color: var(--mat-sys-on-surface);

	&:hover {
		opacity: var(--mat-sys-hover-state-layer-opacity);
	}
}

.mat-mdc-form-field-infix {
    padding-top: var(--mat-form-field-container-vertical-padding, 16px);
    padding-bottom: var(--mat-form-field-container-vertical-padding, 16px);
	flex: auto;
	min-width: 0;
	width: 180px;
	position: relative;
	box-sizing: border-box;
}

textarea {
	background: none;
	border: none;
	resize: vertical;
	padding: 0;
	width: 100%;

	-webkit-font-smoothing: antialiased;
	font-family: var(--mat-sys-body-large-font);
	line-height: var(--mat-sys-body-large-line-height);
	font-size: var(--mat-sys-body-large-size);
	letter-spacing: var(--mat-sys-body-large-tracking);
	font-weight: var(--mat-sys-body-large-weight);

	&:focus {
		outline: none;
	}
}

.ripple {
	&::before,
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom-style: solid;
		border-bottom-color: var(--mat-sys-on-surface-variant);
		border-bottom-width: 1px;

		content: "";
	}
}
