<div id="writing-box">
	<mat-form-field style="flex-grow: 1">
		<textarea
			#newPostTextArea
			matInput
			type="textarea"
			[rows]="isMobile ? 3 : 2"
			cols="40"
			placeholder="Write a new post..."
			style="flex-grow: 1"
			(keydown)="onNewPostKeydown($event, newPostTextArea)"
		></textarea>
	</mat-form-field>

	<button
		matButton
		(click)="submitPost(newPostTextArea)"
		[disabled]="!newPostTextArea.value.trim()"
	>
		<mat-icon fontIcon="send"></mat-icon>
		Post
	</button>
</div>

<div id="post-container">
	@if (posts() && posts()!.length > 0) { @for (post of posts(); track post.id)
	{
	<div class="post">
		<div class="post-main">
			<div class="post-meta">
				@let fromOther = post.author.id !== post.host.id; @let template
				= mode === 'feed' ? forFeed : forWall;

				<ng-container
					*ngTemplateOutlet="template; context: { post, fromOther }"
				></ng-container>

				<span class="post-time">{{ humanTime(post.createdAt) }}&nbsp;ago</span>
			</div>

			<div class="post-content" [innerHTML]="(post.content | linkify) || 'No content'"></div>
		</div>

		<div class="comment-pane-toggle" (click)="post.commentsExpanded = !post.commentsExpanded" [class.collapsed]="!post.commentsExpanded">
			Comments
			@if (post.comments && post.comments.length > 0) {
				({{ post.comments.length }})
			}

			@if (post.commentsExpanded) {
				<mat-icon fontIcon="keyboard_arrow_up"></mat-icon>
			} @else {
				<mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
			}
		</div>

		@if (post.commentsExpanded) {
			<div class="comment-pane">
				<input
					class="new-comment-input"
					#newCommentInput
					type="text"
					name="add-comment"
					placeholder="Add a comment..."
					autocomplete="off"
					(keydown.enter)="addComment(newCommentInput.value, post.id); newCommentInput.value = ''"
				/>
	
				@if (post.comments) {
					@for (comment of post.comments; track comment.id) {
						<div class="comment">
							<div class="comment-meta">
								<img [src]="'/content/avatars/' + comment.author.id + '.jpg'" style="border-radius: 50%; height: 20px; width: 20px;"/>
	
								<a
									[routerLink]="['/profile']"
									[queryParams]="{ user: comment.author.username }"
									>{{ comment.author.username || 'Unknown' }}</a
								>
							</div>

							<div class="comment-content" [innerHTML]="(comment.content | linkify) || 'No content'"></div>
			
							<span class="time">{{ humanTime(comment.createdAt) }}</span>
						</div>
					}
				}
			</div>
		}
	</div>
	} } @else {
	<div>No posts found.</div>
	}
</div>

<ng-template #forFeed let-post="post" let-fromOther="fromOther">
	@if (fromOther) {
		<img [src]="'/content/avatars/' + post.author.id + '.jpg'" style="border-radius: 50%; height: 20px; width: 20px;"/>
		<a [routerLink]="['/profile']" [queryParams]="{ user: post.author.username }"
			>{{ post.author.username || 'Unknown' }}</a
		>&gt;
	}

		<img [src]="'/content/avatars/' + post.host.id + '.jpg'" style="border-radius: 50%; height: 20px; width: 20px;"/>

	<a
		[routerLink]="['/profile']"
		[queryParams]="{ user: post.host.username }"
		>{{ post.host.username || 'Unknown' }}</a
	>
</ng-template>

<ng-template #forWall let-post="post">
	<img [src]="'/content/avatars/' + post.author.id + '.jpg'" style="border-radius: 50%; height: 20px; width: 20px;"/>
	<a
		[routerLink]="['/profile']"
		[queryParams]="{ user: post.author.username }"
		>{{ post.author.username || 'Unknown' }}</a
	>
</ng-template>
