@use "variables" as v;

:host {
	display: block;
}

#page-view {
	height: calc(100vh - v.$header-height);
	overflow: auto;
	padding: 0 v.$size-1;

	#page-content {
		max-width: 700px;
		margin: auto;
		height: 100%;
	}
}
