@use 'variables' as v;

:host {
	display: flex;
	flex-direction: column;
}

#page-view {
	height: calc(100dvh - v.$header-height);
	overflow: auto;
	overflow-x: hidden;
	padding: 0 v.$size-1;

	#page-content {
		max-width: v.$page-content-width;
		margin: auto;
		height: 100%;
	}
}
