@if (profileUser() && authService.user()) {
	<div id="profile-header">
		{{ profileUser()!.username}}
	</div>

	<div id="writing-box">
		<mat-form-field style="flex-grow: 1">
			<textarea
				matInput
				type="textarea"
				[(ngModel)]="newPostContent"
				rows="3"
				cols="40"
				placeholder="Write a new post..."
				style="flex-grow: 1"
				(keydown)="onNewPostKeydown($event)"
			></textarea>
		</mat-form-field>

		<button
			matButton
			(click)="submitPost()"
			[disabled]="submitting || !newPostContent.trim()"
		>
			<mat-icon fontIcon="send"></mat-icon>
			Post
		</button>
	</div>
}

<div id="post-container">
	@if (posts() && posts().length > 0) { @for (post of posts(); track post.id)
	{
	<div class="post">
		<div>{{ post.content || 'No content' }}</div>

		<div class="post-meta">
			<span>Author: {{ post.author.username || 'Unknown' }}</span>
			<span *ngIf="post.createdAt">{{ humanTime(post.createdAt) }}</span>
		</div>
	</div>
	} } @else {
	<div>No posts found.</div>
	}
</div>
