@use 'variables.scss' as v;

:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--mat-sys-primary-container);
	padding: v.$size-1;
	height: v.$header-height;

	&:not(.force-top) {
		@media screen and (max-width: #{v.$page-content-width - 1px}) {
			order: 2;
		}
	}
}

@media screen and (max-width: #{v.$page-content-width - 1px}) {
	.shrinkable {
		margin: 0;
	}

	span {
		display: none;
	}
}

#person-btn {
	min-width: unset;

	::ng-deep {
		.mdc-button__label {
			display: flex;
			gap: 9px;
		}
	}
}

#profile-pic {
	::ng-deep .mat-mdc-menu-item-text {
		display: flex;
		align-items: center;
	}

	img {
		height: 24px;
		width: 24px;
		border-radius: 50%;
		margin-right: 12px;
	}
}

dialog[open] {
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}
