@use 'variables.scss' as v;

:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	background: var(--mat-sys-primary-container);
	padding: v.$size-1;
	height: v.$header-height;
}

#avatar {
	::ng-deep {
		.mdc-button__label {
			display: flex;
			gap: 9px;
		}
	}

	img {
		height: 20px;
		width: 20px;
		border-radius: 50%;
	}
}

dialog[open] {
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

