@use "variables.scss" as v;

:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	background: var(--mat-sys-primary-container);
	padding: v.$size-1;
	height: v.$header-height;
}
