@use 'variables' as v;

@mixin formichka {
	:host {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	form {
		width: 100%;
		max-width: 300px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	a {
		text-align: right;
	}
}

@include formichka;